<div class="text-center mar-top-2">
  <h1>Stufe <%= @grade.grade %></h1>

  <div class="list-group subject-list">
    <% @subjects.each do |subject| %>
      <a href="/subjects/<%= subject.id %>" class="list-group-item d-flex justify-content-between align-items-center">
        <div><i class="<%= subject.icon %> pad-right-1"></i><%= subject.name %></div>
        <span class="badge badge-dark badge-pill"><%= subject.exams.count %></span>
      </a>
    <% end %>
    <% if user_signed_in? %>
      <% if current_user.admin %>
        <div class="list-group-item">
          <%= simple_form_for @subject,
            wrapper: :inline_form,
            html: { class: "form-inline", style: 'flex-flow: nowrap;' },
            wrapper_mappings: {
              boolean: :inline_boolean
            } do |f| %>
            <%= f.input :name, input_html: { class: "mr-sm-2" } %>
            <%= f.input :grade_id, as: :hidden %>
            <%= f.button :submit, class: "btn-primary" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
