<div class="container mar-top-2 center-content">
  <h2>Passwort ändern</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <div class="form-inputs">
      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>
      <div class="input-field mar-top-2">
        <%= f.input_field :password, placeholder: ' ', required: true, autofocus: true, input_html: { autocomplete: "new-password" }, style: 'display: block;' %>
        <%= f.label :password, label: 'Passwort' %>
        <span class="toggle-password" data-toggle="user_password"><i class="fas fa-eye"></i></span>
      </div>
      <div class="input-field mar-top-3 mar-bottom-2">
        <%= f.input_field :password_confirmation, placeholder: ' ', required: true, input_html: { autocomplete: "new-password" }, style: 'display: block;' %>
        <%= f.label :password_confirmation, label: 'Passwort bestätigen' %>
        <span class="toggle-password" data-toggle="user_password_confirmation"><i class="fas fa-eye"></i></span>
      </div>
    </div>

    <div class="form-actions center-content">
      <%= f.button :submit, "Passwort ändern", class: "button-sign-up" %>
    </div>
    <div class="mar-top-2 pad-top-1 center-content form-links">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
