<div class="container mar-top-2 center-content">
  <h2>Passwort vergessen?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="form-inputs">
      <div class="input-field mar-top-2">
        <%= f.input_field :email, placeholder: ' ', required: true, autofocus: true, input_html: { autocomplete: "email" }, style: 'display: block;' %>
        <%= f.label :email %>
      </div>

    <div class="form-actions center-content">
      <%= f.button :submit, "Passwort zurücksetzen", class: "button-sign-up" %>
    </div>
    <div class="mar-top-2 pad-top-1 center-content form-links">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
