<% if @exam.comments.blank? %>
  <p class="mar-bottom-2">Noch keine Kommentare für diese Klausur...</p>
<% else %>
  <% comments.each do |comment| %>
    <div id="comment-<%= comment.id %>" class="exam-comment <%= 'user-comment' if comment.user == current_user %>">
      <div class="comment-header">
        <p class="comment-creator"><strong><%= comment.user.full_name %></strong></p>
        <p class="comment-timestamp"><%= comment.date %></p>
      </div>
      <p class="comment-content"><%= comment.content %></p>
      <% if user_signed_in? %>
        <% if current_user.admin || current_user == comment.user %>
          <p class="comment-delete"><%= link_to '<i class="fas fa-trash"></i>'.html_safe, exam_comment_path(exam, comment), method: :delete, data: {confirm: "Willst du den Kommentar wirklich löschen?"}, remote: true, class: 'icon-link' %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
<div class="new-comment-form">
  <% if user_signed_in? %>
    <%= simple_form_for([exam, comment], remote: true) do |f| %>
      <%= f.input_field :content, placeholder: 'Kommentar...' %>
      <%= f.button :submit, 'Senden', disabled: true, class: 'button-small button-sign-in mar-left-1', id: 'submit-button' %>
    <% end %>
  <% else %>
    <p>Melde dich an, um zu kommentieren</p>
    <div class="inline-buttons mar-top-2 mar-bottom-2">
      <%= link_to 'Anmelden', new_user_session_path, class: 'button button-sign-in mar-right-1' %>
      <%= link_to 'Registrieren', new_user_registration_path, class: 'button button-sign-up' %>
    </div>
  <% end %>
</div>

<script>
  const commentContent = document.getElementById('comment_content');
  const submitButton = document.querySelector('#submit-button');

  if(commentContent && submitButton) {
    commentContent.addEventListener('keyup', e => {
      if(commentContent.value.length >= 2) {
        submitButton.disabled = false
      } else {
        submitButton.disabled = true
      }
    });
  }
</script>
