<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand ml-4" href="/">LearnWeb</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div class="hamburger-icon">
      <div class="hamburger-line hamburger-line-top"></div>
      <div class="hamburger-line hamburger-line-bottom"></div>
    </div>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/grades" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stufen
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Grade.all.each do |grade| %>
            <%= link_to "Stufe #{grade.grade}", grade_path(grade), class: 'dropdown-item' %>
            <% if grade != Grade.last %>
              <div class="dropdown-divider"></div>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/exams" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Klausuren
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/exams">Alle Klausuren</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/exams/new">Klausur hochladen</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/teachers">Lehrer</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Dein Profil', dashboard_path, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Anmelden', new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Registrieren', new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <%= form_tag(search_path, method: 'get', class: 'form-inline my-2 my-lg-0') do %>
      <%= search_field_tag 'search', nil, class: 'form-control mr-sm-2', placeholder: 'Lehrer, Fach, Jahr...'  %>
      <%= submit_tag "Suchen", class: 'btn btn-outline-success my-2 my-sm-0', :name => nil %>
    <% end %>
  </div>
</nav>
