<div class="text-center mar-top-2 container">
  <h1><i class="<%= @subject.icon %> pad-right-half"></i><%= @subject.name %> - Stufe <%= @subject.grade.grade %></h1>

  <h3 class="mar-top-1">Klausuren</h3>
  <div class="exam-list main-list mar-top-2">
    <% @subject.exams.each do |exam| %>
      <%= render 'shared/exam-card', exam: exam %>
    <% end %>
  </div>

  <h3 class="mar-top-2">Lehrer</h3>
  <div class="teacher-list main-list mar-top-2">
    <% @subject.teachers.uniq().each do |teacher| %>
      <%= render 'shared/teacher-card', teacher: teacher %>
    <% end %>
  </div>
</div>
