<div class="container mar-top-2 exam-show-content text-center">
  <div class="exam-header">
    <% if user_signed_in? %>
      <% if current_user.admin || current_user == @exam.user %>
        <h2><%= @exam.title %> (<%= @exam.year %>) <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_exam_path(@exam), class: 'icon-link' %> <%= link_to '<i class="fas fa-trash"></i>'.html_safe, exam_path(@exam), method: :delete, data: {confirm: "Willst du diese Klausur wirklich löschen?"}, class: 'icon-link' %></h2>
      <% else %>
        <h2><%= @exam.title %> (<%= @exam.year %>)</h2>
      <% end %>
    <% else %>
      <h2><%= @exam.title %> (<%= @exam.year %>)</h2>
    <% end %>
    <h4><%= link_to "<i class='#{@exam.subject.icon} pad-right-half'></i>#{@exam.subject.name} - Stufe #{@exam.subject.grade.grade}".html_safe, subject_path(@exam.subject), class: 'exam-subheader-link' %> - <%= link_to @exam.teacher.name, teacher_path(@exam.teacher), class: 'exam-subheader-link' %></h4>
    <h5 class="pad-bottom-half">Hochgeladen von: <%= @exam.user.full_name %></h5>
    <div class="exam-download-link pad-bottom-half">
      <%= link_to '<h5><i class="fas fa-download"></i> Download</h5>'.html_safe, "#{cl_image_path @exam.pdf_file.key}", download: "#{@exam.title} - #{@exam.year}", target: '_blank' %>
    </div>
  </div>
  <iframe src="<%= cl_image_path @exam.pdf_file.key %>" id="exam-pdf-reader"> </iframe>
  <% if !@related_exams.blank? %>
    <h4 class="mar-top-1">Weitere Klausuren</h4>
    <div class="exam-list main-list mar-top-half mar-bottom-1">
      <% @related_exams.each do |exam| %>
        <%= render 'shared/exam-card', exam: exam %>
      <% end %>
    </div>
  <% end %>

  <h3 class="mar-top-1 mar-bottom-half">Kommentare</h3>
  <div id="comments">
    <%= render 'shared/comment-section', comments: @exam.comments.order(created_at: :desc), comment: @comment, exam: @exam %>
  </div>
</div>
